* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img {
    min-width: 100%;
}

.beij {
    position: fixed;
    width: 100vh;
    height: 100vh;
    background: url(image/8121655390895_.pic.jpg);
    left: 350px;
}

.head {
    border: 1px solid green;
    width: 290px;
    height: 260px;
    position: absolute;
    left: 50%;
    margin-left: -135px;
    top: 150px;
    border-radius: 240px 240px 200px 210px;
}

.nose {
    background: red;
    width: 24px;
    height: 8px;
    position: relative;
    left: 50%;
    top: 320px;
    margin-left: -6px;
    border-radius: 0px 0px 25px 25px;
}

.yuan {
    position: absolute;
    width: 24px;
    height: 10px;
    border: 1px solid red;
    top: -10px;
    left: 0px;
    border-radius: 10px 10px 0 0;
    background: red;
}

.ear {
    border: 1px solid lightcoral;
    position: absolute;
    width: 100px;
    height: 80px;
    left: 50%;
    top: 100px;
}

.ear.left {
    border: 1px solid lightcoral;
    position: relative;
    width: 100px;
    height: 80px;
    right: 50%;
    top: 100px;
}